body {
  font-family: helvetica, arial, sans-serif;
    background-color: transparent;
  border-style: solid;
  border-color: white;
  margin:2m;
}

h1 {
  
  color: #ffffff;
}

h2 {
  
   color: #ffffff;
 }
   

p2 {
  background-color: rgba(0,0,0,.2);
  color: #ffffff;
  }

p5 {
  color: white;
  background-color: rgba(0,0,0,.2);
  }
p {
  

  color: #ffffff;
  }

p1 {
  

  color: #ffffff;
  }

p6 {

  color: #8c8c8c;
  }

h5 {
  
  color: #3d3d3d;
  }


 
 h6{
  text-align:center;
}

h1 {
  color:rgba(100, 50, 255, .8);
  font-family: 'Pacifico', cursive;
  color:#212121;
}

